<ion-view title="Cadastre-se">
  <ion-content>
    <form name="formLogin" class="form_login" ng-submit='create(data)'>
      <ion-list>
        <label class="item item-input item-stacked-label {{isFilled(formLogin.email.$valid)}}">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="e-mail" name="email" ng-model="data.email" required>
        </label>
        <label class="item item-input item-stacked-label {{isFilled(formLogin.password.$valid)}}">
          <span class="input-label">Senha</span>
          <input type="password" name="password" placeholder="senha" ng-model="data.password" required>
        </label>

        <div class="padding">
          <button class="button button-block button-energized" type="submit">
            CADASTRAR
          </button>
        </div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
