<ion-view view-title="Disciplinas">
  <ion-content class="padding">

    <div ng-hide="hasClasses" class="padding">
      <p class="text-center">
        Não foi possível encontrar suas disciplinas.
        <i class="ion-icon ion-sad-outline"></i>
        <br><br>
        <a ui-sref="tab.account-senac">
          Associe sua conta do Portal do Aluno Senac.
        </a>
      </p>
    </div>

    <div ng-show="hasClasses">
      <label class="item item-input item-select">
        <div class="input-label">
          Filtrar Disciplinas
        </div>

        <select name="ngvalueselect" ng-model="filter">
          <option ng-repeat="option in periodos" ng-value="option">{{::option}}</option>
        </select>
      </label>

      <div class="list">
        <div class="card" ng-repeat="(key, model) in classes | filter:filter">
          <div class="item item-divider">
            {{model.descricaoDisciplina}}

            <!-- <a href="#/" style="float:right" class="energized">
              <i class="icon ion-chevron-right icon-accessory"></i>
            </a> -->
          </div>

          <span class="item">
            Faltas: {{model.faltas.total || 0}}
            <span ng-show="model.faltas.aps" class="pull-right">
              APS: {{model.faltas.aps}}
            </span>
          </span>

          <span class="item" ng-show="showConceito(model.notas.resultado)">
            {{model.notas.resultado}}
            <span ng-show="showConceito(model.notas.conceito)" class="pull-right">
              Conceito: {{model.notas.conceito}}
            </span>
          </span>

        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
