<ion-view view-title="Faltas">
  <ion-content class="padding">
    <div class="list">

      <div ng-repeat="(key, model) in faltas">

        <div class="item item-divider">
          {{key}}

          <span style="float:right">
            faltas
          </span>
        </div>

        <a class="item" ng-href="#/tab/disciplinas/1" ng-repeat="m in model">
          {{m.disciplina}}
          <span style="float:right">
            {{m.faltas}}
          </span>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
