<ion-view view-title="Configurações">
  <ion-content>
    <ion-list>

      <!-- CREDENCIAIS  -->
      <div class="item item-divider">
        Credenciais
      </div>
      <a class="item item-icon-right" href="#/tab/account/senac">
        Associar login portal do aluno
        <i class="icon ion-chevron-right icon-accessory energized"></i>
      </a>
      <a class="item item-icon-right" href="#/tab/account/sync">
        Sincronizar dados
        <i class="icon ion-chevron-right icon-accessory energized"></i>
      </a>

      <!-- / CREDENCIAIS  -->

      <!-- NOTIFICAÇÕES  -->
      <!-- <div class="item item-divider">
        Notificações
      </div>
      <ion-toggle ng-model="settings.enableFriends">
        Alteração de notas
      </ion-toggle>
      <ion-toggle ng-model="settings.enableFaltas">
        Alteração de faltas
      </ion-toggle> -->
      <!-- / NOTIFICAÇÕES  -->

      <!-- OUTRO  -->
      <div class="item item-divider"></div>
      <a class="item item-icon-right" href="#/tab/account/feedback">
        Reportar erro ou sugestão
        <i class="icon ion-chevron-right icon-accessory energized"></i>
      </a>
      <a class="item" ng-click="logout()">
        Sair
      </a>
      <!-- / OUTRO  -->

    </ion-list>
  </ion-content>
</ion-view>
