

<ion-view view-title="Disciplinas">
  <ion-content class="padding">

    <label class="item item-input item-select">
      <div class="input-label">
        Filtrar Disciplinas
      </div>

      <select name="ngvalueselect" ng-model="filter">
        <option ng-repeat="option in periodos" ng-value="option">{{::option}}</option>
      </select>

    </label>

    <div class="list">
      <div class="card" ng-repeat="(key, model) in faltas | filter:filter">

        <div class="item item-divider">
          {{model.descricaoDisciplina}}

          <a href="#/" style="float:right" class="energized">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </a>
        </div>

        <span class="item">
          Faltas: {{model.faltas.total}}
        </span>
        <span class="item">
          Conceito: {{model.notas.conceito}}
        </span>

      </div>

    </div>
  </ion-content>
</ion-view>
