/* Empty. Add your own CSS if you like */
.or-line{
  text-align: center;
  display: block;
  position: relative;
  margin: 30px;
}

.or-line::before{
  content: '';
  background:#555;
  width: 70%;
  height: 1px;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.or-text{
  background: #FFF;
  z-index: 1;
  padding: 10px;
  position: relative;
}

.easyac-showpassword{
  position: absolute;
  right: 16px;
  z-index: 1;
  bottom: 10px;
  font-size: 25px;
}
